
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home- Spartens</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <!-- Bootstrap CSS File -->
    <link href="~/theme/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/theme/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/theme/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/theme/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/theme/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/theme/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Main Stylesheet File -->
    <link href="~/theme/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: DevFolio
      Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body id="page-top">

    <!--/ Nav Star /-->
    <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll" href="#page-top">SPARTENS</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                    aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">

                <ul class="navbar-nav">

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Administrator"))
                        {

                            <li class="nav-item">
                                @*<a class="nav-link js-scroll active" href="@Url.Action("Index","Event_Type")">Events</a>*@
                                <a class="nav-link js-scroll active" href="~/Event_Type/Index#event">Events</a>

                            </li>
                            <li class="nav-item">
                                @*<a class="nav-link js-scroll active" href="@Url.Action("Index","Venue1cs")">Venues</a>*@
                                <a class="nav-link js-scroll active" href="~/Venue1cs/Index#venue">Venues</a>

                            </li>
                            <li class="nav-item">
                                @*<a class="nav-link js-scroll active" href="@Url.Action("Index","Departments")">Categories</a>*@
                                <a class="nav-link js-scroll active" href="~/Departments/Index#cat">Categories</a>

                            </li>
                            <li class="nav-item">
                                @*<a class="nav-link js-scroll active" href="@Url.Action("Index","Items")">Items</a>*@
                                <a class="nav-link js-scroll active" href="~/Items/Index#item">Items</a>

                            </li>
                            <li class="nav-item">
                                @*<a class="nav-link js-scroll active" href="@Url.Action("Index2","Orders")">Bookings</a>*@
                                <a class="nav-link js-scroll active" href="~/Orders/Index2#order">Bookings</a>

                            </li>
                            <li class="nav-item">
                                @*<a class="nav-link js-scroll active" href="@Url.Action("Index","Staffs")">Staffs</a>*@
                                <a class="nav-link js-scroll active" href="~/Staffs/Index#staff">Staffs</a>

                            </li>
                            <li class="nav-item">
                                @*<a class="nav-link js-scroll active" href="@Url.Action("Index","AssignStaffs")">Assigned Staffs</a>*@
                                <a class="nav-link js-scroll active" href="~/AssignStaffs/Index#astaff">Assigned Staffs</a>

                            </li>
                            
                            <li class="nav-item">
                                @*<a class="nav-link js-scroll active" href="@Url.Action("Index","Items")">Items</a>*@
                                <a class="nav-link js-scroll active" href="~/Contacts/Index#contacts">Client feedback</a>

                            </li>

                        }

                        if (User.IsInRole("Customer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link js-scroll active" href="@Url.Action("Venues","Venue1cs")">Booking </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll active" href="@Url.Action("Index","Orders")">My Bookings</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll active" href="@Url.Action("Index2","AssignStaffs")">Staff Details</a>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link js-scroll active" href="@Url.Action("ShoppingCart","Shopping")">
                                    <font size="4">
                                        <i class="fa fa-shopping-cart"></i>   @{Html.RenderAction("CartSummary", "Shopping");}
                                    </font>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll active" href="~/Contacts/Create">Give Feedback</a>
                            </li>


                        }

                    }

                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll active" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll active" href="~/Contacts/Index3#feedback">Feedback</a>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    <div id="home" class="intro route bg-image" style="background-image: url(../../Theme/img/intro-bg.jpg)">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="container">
                    <!--<p class="display-6 color-d">Hello, world!</p>-->
                    <h1 class="intro-title mb-4">SPARTENS <span style="font-size: 30px;font-style: italic">House of Events</span></h1>
                    <p class="intro-subtitle"><span class="text-slider-items">Welcome,Surf through our events and book,Your best interest is our priority,ENJOY!!!</span><strong class="text-slider"></strong></p>
                    <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <!--/ Intro Skew End /-->
    <!--/ Section Services Star /-->
    <!--/ Section Services End /-->
    <!--/ Section Portfolio Star /-->
    <!--/ Section Portfolio End /-->
    <!--/ Section Testimonials Star /-->
    <!--/ Section Blog Star /-->
    <!--/ Section Blog End /-->
    <!--/ Section Contact-Footer Star /-->
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jpg)">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-mf">
                        <div id="contact" class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            Send Message Us
                                        </h5>
                                    </div>
                                    @*<div>*@
                                        @*@{
                                            @model BookingEvents.Models.Contact

                                            using (Html.BeginForm("Create", "Contacts", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()

                                                <div id="sendmessage">Your message has been sent. Thank you!</div>
                                                <div id="errormessage"></div>
                                                <div class="row">
                                                    <div class="col-md-12 mb-3">
                                                        <div class="form-group">
                                                            <input type="text" name="CuName" class="form-control" id="CuName" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                                            <div class="validation"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mb-3">
                                                        <div class="form-group">
                                                            <input type="text" name="CuLName" class="form-control" id="CuLName" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                                            <div class="validation"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mb-3">
                                                        <div class="form-group">
                                                            <input type="email" class="form-control" name="Cuaddress" id="Cuaddress" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                                            <div class="validation"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mb-3">
                                                        <div class="form-group">
                                                            @Html.DropDownListFor(model => model.Subject,
                                                     new List<SelectListItem>
                                                     {
                                                                new SelectListItem {Text="Complement" },
                                                                new SelectListItem {Text="Complaint" },
                                                                new SelectListItem {Text="Question" },
                                                                new SelectListItem {Text="Others" }
                                                     },
                                                     new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mb-3">
                                                        <div class="form-group">
                                                            <textarea class="form-control" name="Message" id="Message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                                            <div class="validation"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>*@
                                </div>
                                <div class="col-md-6">
                                    <div class="title-box-2 pt-4 pt-md-0">
                                        <h5 class="title-left">
                                            Get in Touch
                                        </h5>
                                    </div>
                                    <div class="more-info">
                                        <p class="lead">
                                            We’re more than just a SPARTENS
                                            , we’re a community
                                            of like-minded people who want to change the face of events.
                                            Use the form to the right to get in touch with us.
                                        </p>
                                        <ul class="list-ico">
                                            <li><span class="ion-ios-location"></span> 329 Durban, MA 02108</li>
                                            <li><span class="ion-ios-telephone"></span> (031) 557-0089</li>
                                            <li><span class="ion-email"></span> spartens@gmail.com.com</li>
                                        </ul>
                                    </div>
                                    <div class="socials">
                                        <ul>
                                            <li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                                            <li><a href=""><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                                            <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                                            <li><a href=""><span class="ico-circle"><i class="ion-social-pinterest"></i></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright-box">
                            <p class="copyright">&copy; Copyright <strong>DevFolio</strong>. All Rights Reserved</p>
                            <div class="credits">
                                <!--
                                  All the links in the footer should remain intact.
                                  You can delete the links only if you purchased the pro version.
                                  Licensing information: https://bootstrapmade.com/license/
                                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                                -->
                                Designed by <a href="https://bootstrapmade.com/">SPARTENS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!--/ Section Contact-footer End /-->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <!-- JavaScript Libraries -->
    <script src="~/theme/lib/jquery/jquery.min.js"></script>
    <script src="~/theme/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/theme/lib/popper/popper.min.js"></script>
    <script src="~/theme/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/theme/lib/easing/easing.min.js"></script>
    <script src="~/theme/lib/counterup/jquery.waypoints.min.js"></script>
    <script src="~/theme/lib/counterup/jquery.counterup.js"></script>
    <script src="~/theme/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/theme/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/theme/lib/typed/typed.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/theme/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/theme/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>