@model BookingEvents.Models.Department
@{
    ViewBag.Title = "Department Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="title text-center">@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>@Html.LabelFor(model => model.Department_ID)</th>
        <td>
            @Html.DisplayFor(model => model.Department_ID)
        </td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.Department_Name)</th>
        <td>
            @Html.DisplayFor(model => model.Department_Name)
        </td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.Description)</th>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-default" href="@Url.Action("Index","Departments")">
                <i class="fa fa-angle-left"></i>
                Back to List
            </a>
        </td>
        <td>
            <a class="btn btn-default" href="@Url.Action("Edit","Departments", new { id = Model.Department_ID })">
                <i class="fa fa-edit"></i>
                Edit
            </a>
        </td>
    </tr>
</table>
