@model BookingEvents.Models.AssignStaff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssignStaff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.assignID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
