@model BookingEvents.Models.AddLightModel

@{
    ViewBag.Title = "AddLight";
}
<h2>AddFoodItem</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @*@Html.HiddenFor(m => m.BookingId)
        @Html.HiddenFor(m => m.DateCreated)
        @Html.HiddenFor(m => m.EventDate)
        @Html.HiddenFor(m => m.EventId)
        @Html.HiddenFor(m => m.NumPeople)*@
    <div class="form-group">
        <div class="col-10 mx-auto my-3 col-md-6 col-lg-4">
            <strong>Select Your Light Choice :</strong>
            @foreach (var item in Model.AddLights)
            {
                <div class="form-group">
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedFruits"
                                       value="@item.Name" /> @item.Name
                                </label>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Light" class="btn btn-primary" />
        </div>
    </div>
}

